<div class="bg-gray-100 flex flex-col rounded-lg p-6 mt-6 w-1/3">
  <h2 class="font-bold text-2xl pb-4">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field pb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg w-full" %>
    </div>
    <div class="field pb-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded-lg w-full" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field pb-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="flex gap-4 items-center justify-center">
      <div class="rounded-lg bg-blue-400 py-3 px-6">
        <%= f.button "Log in" %>
      </div>
      <div class="rounded-lg bg-blue-400 py-3 px-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
