<div id="<%= dom_id category %>">
  <hr class="m-6">
  <div class="flex items-center px-6 gap-4 justify-between">
    <%= category.name %>
    <div>
      <%= link_to "Add Tasks", new_category_task_path(category), class: "rounded-lg py-3 px-5 bg-green-100 inline-block font-medium text-center" %>
      <%= link_to edit_category_path(category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
    <% @category.tasks.each do |task| %>
      <%= render partial: 'task', locals: { category: @category, task: task } %>
    <% end %>
  </div>
  <hr class="m-6">
</div>
