<%= link_to category_task_path(category, task) do %>
  <div class="flex gap-4 bg-slate-200 p-4 rounded-lg">
    <%= form_with model: @task do |form| %>
      <div>
        <%= form.label task.name %>
        <%= form.label task.target_completion_date, "Due Date: #{format_date(task.target_completion_date)}" %>
      </div>
    <% end %>
    <%= link_to 'EDIT', edit_category_task_path(category, task) %>
    <%= link_to "DELETE", [task.category, task], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Delete task?"
                } %>
  </div>
<% end %>