<div class="mt-6 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Hello, <%= "#{remove_domain_from_email(@current_user.email)} !"%></h1>
    <%= link_to "New category", new_category_path, class: "rounded-lg py-3 px-5 bg-blue-800 text-white block font-medium" %>
  </div>
</div>
<!--#################### --->
<!--########Today's Task######### --->
<hr class="m-4">
<div class="mb-4">
  <h1 class="text-2xl font-semibold">Due Tasks for Today</h1>
</div>
<div class="flex gap-4">
  <% @due_date_today.each do |todo| %>
    <div class="flex flex-col bg-red-200 rounded-lg p-4">
      <span class="italic font-light text-xs"><%= todo.category.name %></span>
      <span class="text-xl font-bold"><%= todo.name %></span>
    </div>
  <% end %>
</div>
<hr class="m-4">
<!--#################### --->
<div class="flex justify-center gap-4 mt-6">
  <% if @categories.empty? %>
    <div class="flex items-center justify-center">
      <span class="italic font-light">-- Create your cagetory 👆 --</span>
    </div>
  <% else %>
    <% @categories.each do |category| %>
      <div class="flex flex-col">
        <div class="bg-slate-800 p-4 rounded-t-lg shadow-sm">
          <%= link_to category do %>
            <div class="flex justify-between items-center gap-10">
              <h1 class="text-2xl font-extrabold text-slate-50"><%= category.name %></h1>
              <div class="flex gap-2">
                <%= link_to new_category_task_path(category), class: "rounded-lg focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 rounded-lg text-sm dark:focus:ring-green-900 py-2 px-4" do %>
                  <i class="fa-solid fa-plus"></i>
                <% end %>
                <%= link_to edit_category_path(category), class: "rounded-lg focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded-lg text-sm dark:focus:ring-yellow-900 py-2 px-4" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= button_to category_path(category), method: :delete, class: "rounded-lg focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 py-2 px-4", data: {
                  turbo_confirm: "Delete #{category.name} category?"
                } do%>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="flex flex-col gap-4 bg-slate-200 p-4 rounded-b-lg shadow-sm">
          <% if category.tasks.empty? %>
            <div class="flex items-center justify-center">
              <span class="italic font-light">-- No Tasks --</span>
            </div>
          <% else %>
            <% category.tasks.each do |task| %>
              <%= render partial: 'tasks/task', locals: { task: task } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!--#################### --->