<div class="mt-6 w-full">
  <div class="flex justify-between items-center px-4 gap-4">
    <h1 class="font-bold text-4xl">Hello, <%= "#{remove_domain_from_email(@current_user.email)} !"%></h1>
    <%= link_to "Create category", new_category_path, class: "rounded-lg text-center py-3 px-5 bg-blue-800 text-white block font-medium" %>
  </div>
</div>
<!--#################### --->
<!--########Today's Task######### --->
<hr class="m-4">
<div class="mb-4">
  <h1 class="text-2xl font-semibold">Due Tasks for Today</h1>
</div>
<div class="flex gap-4">
  <% if @due_date_today.empty? %>
    <span class="italic font-light">- No task due today! 👍 -</span>
  <% else %>
    <% @due_date_today.where(completed: false).each do |todo| %>
      <%= render partial: 'tasks/due_task',locals: { todo: todo } %>
    <% end %>
  <% end %>
</div>
<!--####### DISPLAY CATEGORIES ############# --->
<div class="flex flex-wrap justify-center gap-4 mt-6 w-full ">
  <% if @categories.empty? %>
    <div class="flex items-center justify-center">
      <span class="italic font-light">- Create your cagetory 👆 -</span>
    </div>
  <% else %>
    <% @categories.each do |category| %>
      <div class="flex flex-col rounded-lg ">
        <div class="flex justify-between items-center bg-slate-800 p-4 rounded-t-lg shadow-sm w-96 max-h-96 gap-2">
          <div class="font-extrabold text-2xl text-slate-50 truncate" >
            <%= link_to category, class: "truncate" do %>
              <%= category.name %>
            <% end %>
          </div>
          <div class="flex items-center gap-2">
            <%= link_to category_path(category), class: "rounded-lg focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 rounded-lg text-sm dark:focus:ring-green-900 py-2 px-4" do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
            <%= link_to edit_category_path(category), class: "rounded-lg focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded-lg text-sm dark:focus:ring-yellow-900 py-2 px-4" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= button_to category_path(category), method: :delete, class: "rounded-lg focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 py-2 px-4", data: {
                  turbo_confirm: "Delete #{category.name} category?"
                } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
        <!--####### DISPLAY TASKS ############# --->
        <div class="flex flex-col justify-between bg-slate-200 p-4 rounded-b-lg shadow-sm gap-2 w-96 max-h-96 truncate">
          <% if category.tasks.empty? %>
            <div class="flex items-center justify-center">
              <span class="italic font-light">- No Tasks -</span>
            </div>
          <% else %>
            <%= render partial: 'tasks/task', collection: category.tasks %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<!--#################### --->