<!--####### DISPLAY CATEGORY ############# --->
<div class="flex flex-col w-5/6 mt-6">
  <div class="bg-slate-800 p-4 rounded-t-lg shadow-sm ">
    <div class="flex justify-between items-center gap-6">
      <h1 class="text-2xl font-extrabold text-slate-50"><%= @category.name %></h1>
      <div class="flex gap-2">
        <%= link_to edit_category_path(@category), class: "rounded-lg focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded-lg text-sm dark:focus:ring-yellow-900 py-2 px-4" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= button_to category_path(@category), method: :delete, class: "rounded-lg focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 rounded-lg text-sm dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 py-2 px-4", data: {
                  turbo_confirm: "Delete #{@category.name} category?"
                } do%>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-col sm:flex-none bg-slate-200 rounded-b-lg shadow-sm">
    <div class="flex items-center justify-center w-full sm:w-1/3 p-4 ">
      <%= render partial: 'tasks/new_task', locals: {task: @category.tasks.build } %>
    </div>
    <!--####### DISPLAY TASKS ############# --->
    <div class="w-full sm:w-1/3">
      <div class="flex flex-col justify-between p-4 gap-2">
        <span class="font-bold">TO DO</span>
        <% if @category.tasks.empty? %>
          <div class="flex items-center justify-center">
            <span class="italic font-light">-- No Tasks --</span>
          </div>
        <% else %>
          <%= render partial: 'tasks/task', collection: @category.tasks.where.not(id: nil).where(completed: false) %>
        <% end %>
      </div>
    </div>
    <div class="w-full sm:w-1/3">
      <div class="flex flex-col justify-between p-4 gap-2">
        <span class="font-bold">COMPLETED</span>
        <% if @category.tasks.empty? %>
          <div class="flex items-center justify-center">
            <span class="italic font-light">-- No Completed Tasks Yet--</span>
          </div>
        <% else %>
          <%= render partial: 'tasks/task', collection: @category.tasks.where.not(id: nil).where(completed: true) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
