<!DOCTYPE html>
<html>
  <head>
    <title>RailsMinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="relative">
    <%= render 'flash_msg' %>
    <nav class="flex justify-between px-4 py-2 bg-blue-400 text-white">
      <%= link_to "HOME", root_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete%>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
